<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.testapp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="test.eSportsApp.HomeScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.eSportsApp.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="test.eSportsApp.lolScheduler"
            android:label="@string/lolScheduler_page_tilte"
            android:theme="@style/AppTheme" />
        <activity
            android:name="test.eSportsApp.Dota2Scheduler"
            android:label="@string/dotaScheduler_page_tilte"
            android:theme="@style/AppTheme" />
        <activity
            android:name="test.eSportsApp.HsScheduler"
            android:label="@string/hsScheduler_page_tilte"
            android:theme="@style/AppTheme" />
        <activity
            android:name="test.eSportsApp.HotsScheduler"
            android:label="@string/hotsScheduler_page_tilte"
            android:theme="@style/AppTheme" />
        <activity
            android:name="test.eSportsApp.gameNotification"
            android:label="@string/game_notification_page_title"
            android:theme="@style/AppTheme" />
        <activity
            android:name="test.eSportsApp.Search"
            android:label="@string/search_results_page"
            android:theme="@style/AppTheme" />
        <activity
            android:name="test.eSportsApp.TeamView"
            android:label="@string/team_view_title"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="test.eSportsApp.matchDetails"
            android:label="@string/team_view_title"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name="test.eSportsApp.playerView"
            android:label="@string/team_view_title"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
